In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
veri=pd.read_excel("../graphsperminute.xlsx")

In [3]:
veri.pop("Unnamed: 0")

0    0
1    1
2    2
3    3
4    4
Name: Unnamed: 0, dtype: int64

In [16]:
verison=veri.columns[-1]
verison

8

In [18]:
eskiveri=veri[veri.columns[0:verison]]
eskiveri

         1        2        3        4        5        6        7        8
0     1.00     2.00     3.00     4.00     6.00     9.00    12.00    12.00
1    42.43    55.90    49.24    43.01    40.31    47.17    40.31    44.72
2    21.22    59.72    40.70    22.89    15.18    34.77    15.18    27.78
3  1508.50  6440.00  3136.00  1508.50  1508.50  3136.00  1508.50  1508.50
4    10.00    50.00    30.00    10.00    10.00    30.00    10.00    10.00

In [19]:
veri.drop(eskiveri,axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [20]:
import os

In [23]:
file='Untitled4.ipynb'
if file in os.listdir():
    print("Evet")

Evet