In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel("./yenikayit.xlsx")

In [3]:
data

        Unnamed: 0        4        5        6
0            carID     5.00     5.00     6.00
1           speed2    52.20    42.72    61.85
2             asma    49.15    22.06    76.70
3       ceza_tutar  3136.00  1508.50  6440.00
4  hesaplanan_asma    30.00    10.00    50.00

In [4]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [5]:
data

         4        5        6
0     5.00     5.00     6.00
1    52.20    42.72    61.85
2    49.15    22.06    76.70
3  3136.00  1508.50  6440.00
4    30.00    10.00    50.00

In [7]:
data.iloc[:,:]=0

In [9]:
data.to_excel("./yenikayit.xlsx")