In [1]:
print(f"""{carID} numarali arac {speed2} Km/h ile hiz sinirini %{asma} oraninda asmistir.
	{carID} numarali aracin hiz sinirini %{hesaplanan_asma}'den fazla astigi tespit edildiginden dolayi cezai islem uygulanmistir.
	Yazilan ceza tutari:{ceza_tutar} TL.""")

NameError: name 'carID' is not defined

In [2]:
import pandas as pd
import numpy as np

In [3]:
veri=pd.read_excel("kayitlarx.xlsx")
veri.pop("Unnamed: 0")
veri.set_index(veri[0],inplace=True)
veri.pop(0)

0
carID                        carID
speed2                      speed2
asma                          asma
ceza_tutar              ceza_tutar
hesaplanan_asma    hesaplanan_asma
Name: 0, dtype: object

In [4]:
veri

                       1        2        3        4        5     6        7
0
carID               9.00    12.00    15.00    18.00    19.00    22    24.00
speed2            103.73    87.24    76.84    97.54    76.84    81    69.68
asma               72.88    45.40    28.07    62.56    28.07    35    16.13
ceza_tutar       6440.00  3136.00  1508.50  6440.00  1508.50  3136  1508.50
hesaplanan_asma    50.00    30.00    10.00    50.00    10.00    30    10.00

In [27]:
for i in range(1,len(veri.columns)):
    carID=veri[i][0]
    speed2=veri[i][1]
    asma=veri[i][2]
    ceza_tutar=veri[i][3]
    hesaplanan_asma=veri[i][4]

/tmp/ipykernel_6969/2893930296.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  carID=veri[i][0]
/tmp/ipykernel_6969/2893930296.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  speed2=veri[i][1]
/tmp/ipykernel_6969/2893930296.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  asma=veri[i][2]
/tmp/ipykernel_6969/2893930296.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ceza_tutar=veri[i][3]
/tmp/ipykernel_6969/2893930296.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  hesaplanan_asma=veri[i][4]

In [ ]:
print(f"""{carID} numarali arac {speed2} Km/h ile hiz sinirini %{asma} oraninda asmistir.
	{carID} numarali aracin hiz sinirini %{hesaplanan_asma}'den fazla astigi tespit edildiginden dolayi cezai islem uygulanmistir.
	Yazilan ceza tutari:{ceza_tutar} TL.""")

22

In [34]:
60*128/100

76.8