In [3]:
import pandas as pd

In [4]:
import numpy as np

In [13]:
veri=pd.read_excel("ceza_tutari.xlsx")

In [14]:
veri

   Hız Sınırı Aşım Oranı Ceza Tutarı
0                     10   1.508,50
1                     30    3.136,00
2                     50    6.440,00

In [16]:
hizsiniriasimorani=list(veri["Hız Sınırı Aşım Oranı"])

In [17]:
hizsiniriasimorani

[10, 30, 50]