In [1]:
import os
import shutil
import pandas as pd
import numpy as np

In [2]:
#shutil.move("/home/bagergat/Desktop/graphsperminute.xlsx","/home/bagergat/Desktop/Bitirme/used_files/")

In [16]:
data=pd.read_excel("/home/bagergat/Desktop/graphsperminute.xlsx")
data.drop("Unnamed: 0",axis=1,inplace=True)
data.to_excel("graphsperminute.xlsx")
data

         1        2        3        4        5        6        7        8
0     1.00     2.00     3.00     4.00     6.00     9.00    12.00    12.00
1    42.43    55.90    49.24    43.01    40.31    47.17    40.31    44.72
2    21.22    59.72    40.70    22.89    15.18    34.77    15.18    27.78
3  1508.50  6440.00  3136.00  1508.50  1508.50  3136.00  1508.50  1508.50
4    10.00    50.00    30.00    10.00    10.00    30.00    10.00    10.00

In [17]:
data

         1        2        3        4        5        6        7        8
0     1.00     2.00     3.00     4.00     6.00     9.00    12.00    12.00
1    42.43    55.90    49.24    43.01    40.31    47.17    40.31    44.72
2    21.22    59.72    40.70    22.89    15.18    34.77    15.18    27.78
3  1508.50  6440.00  3136.00  1508.50  1508.50  3136.00  1508.50  1508.50
4    10.00    50.00    30.00    10.00    10.00    30.00    10.00    10.00

In [13]:
file="/home/bagergat/Desktop/Bitirme/used_files/graphsperminute.xlsx

SyntaxError: unterminated string literal (detected at line 1) (2303585275.py, line 1)

In [14]:
if file:
    print("doğru")

doğru